<div class="container">
  <!-- Your main content here -->

  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>
            Leather House is a premium leather goods store that offers a wide range of high-quality leather products.
          </p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>
            Email: info@leatherhouse.com<br>
            Phone: +1 (123) 456-7890
          </p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-inline social-icons">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
